<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>weibo</title>
        <style>
            .comment {
                border: 1px red solid;
            }
        </style>
    </head>
    <body>
        <input id='id-input-weibo' name="content">
        <br>
        <button id='id-button-add'>发表新微博</button>
        <hr>
        <div id="id-weibo-list">
        </div>
        <script src='/static/gua.js'></script>
        <script src='/static/weibo.js'></script>
    </body>
</html>